/*
 * Copyright (c) 2018 Yurii Hamann
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f7/stm32f746Xg.dtsi>

/ {
	model = "STMicroelectronics STM32F746G DISCOVERY board";
	compatible = "st,stm32f746g-disco", "st,stm32f746";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		green_led_0: led_0 {
			gpios = <&gpioi 1 GPIO_INT_ACTIVE_HIGH>;
			label = "User LD0";
		};
    
		green_led_1: led_1 {
			gpios = <&gpioi 3>;
			label = "User LD1";
		};
		green_led_2: led_2 {
			gpios = <&gpioh 6>;
			label = "User LD2";
		};
		green_led_3: led_3 {
			gpios = <&gpioi 0>;
			label = "User LD3";
		};
    
    
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button {
			label = "User";
			gpios = <&gpioi 11 GPIO_INT_ACTIVE_HIGH>;
		};
	};

	aliases {
		led0 = &green_led_0;
    led1 = &green_led_1;
    led2 = &green_led_2;
    led3 = &green_led_3;
		sw0 = &user_button;
	};
};

arduino_i2c: &i2c1 {};
arduino_spi: &spi2 {};
arduino_serial: &usart6 {};

&i2c1 {
	status = "ok";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&spi2 {
	status = "ok";
};

&usart1 {
	current-speed = <115200>;
	pinctrl-names = "default";
	status = "ok";
};

&usart6 {
	current-speed = <115200>;
	pinctrl-names = "default";
	status = "ok";
};

&usbotg_fs {
	status = "ok";
};

&timers1 {
	status = "ok";

	pwm {
		status = "ok";
	};
};

&rtc {
	status = "ok";
};

&flash0 {
  partitions {
    compatible = "fixed-partitions";
    #address-cells = <1>;
    #size-cells = <1>;

    raw_info_label: partition@0 {
            label = "raw_info";
            reg = <0x00000000 0x1000>;
    };
    active_image_label: partition@1000 {
            label = "active_image";
            reg = <0x00001000 0x400000>;
    };
    golden_image_label: partition@401000 {
            label = "golden_image";
            reg = <0x00401000 0x400000>;
    };
    storage_partition: partition@801000 {
            label = "sopas-data";
            reg = <0x00801000 0x400000>;
    };
  };
};


